.main 
    {
        background-color: #1e1e2e;
        font-family: consolas;
        
    }
.head
{
       
        color: #cdd6f4;
        border: 1px solid #94e2d5;
        padding: 10px;
        display: inline-block;
        margin-left: 25vw;
        text-align: center;
        font-size: medium;
}
    
.para 
{
    color: #cdd6f4;
    border: 1px solid #f9e2af;
    height: 100vh;
    padding: 10px;
    text-align: right;

}
.samosajpg
{
    border: 3px dotted #f38ba8;

}