.main 
    {
        background-color: #1e1e2e;
        font-family: consolas;        
    }
.head
{
        color: #f9e2af;
        padding: 10px;
        display: inline-block;
        margin-left: 25vw;
        text-align: center;
        font-size: large;
}
.frame1 
{
    color: #f38ba8  ;
    font-size: large;
    border: 1px solid #a6e3a1;
    border-radius: 10px;
    margin-top: 10px;
    
    
}
.para 
{
    color: #f9e2af;
    height: 100vh;
    padding: 10px;
    text-align: right;

}
.samosajpg
{
    border: 3px dotted #f38ba8;
    border-radius: 10px;
    position:relative;
    

}
.samosajpg:hover
{
    transform: scale(1.25);
    transition: scale(5sec);
}   