.main 
    {
        background-color: #403C47;
        font-family: cursive;
    }
    p
    {
        color: aliceblue;
        text-align: center;
        font-size: x-large;
    }
    #momos
    {
        color: aliceblue;
        text-align: center;
    }
